<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Modern CV</title>
</head>

<body>

   <form method="post">
    {% csrf_token %}
    
    <label for="recipe_id">Recipe ID:</label>
    <input type="text" name="recipe_id" required>
    <br>
    
    <label for="product_id">Product ID:</label>
    <input type="text" name="product_id" required>
    <br>
    
    <label for="weight">Weight (in grams):</label>
    <input type="text" name="weight" required>
    <br>
    
    <button type="submit">Submit</button>
</form>

    

</body>
</html>